@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&display=swap");
@import "./partials/_media-queries";
@import "./partials/_partials";
@import "./mixins/_mixins";
body,
html {
  font-family: "Montserrat", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
header {
  background-color: $primaryColor;
  position: sticky;
  top: 0;
}
/*HEADER CSS*/
header {
  vertical-align: middle;
  display: flex;
  .logo {
    padding: 20px 0;
    @include respond-below(sm) {
      width: 100%;
      text-align: center;
    }
    a {
      text-decoration: none;
      font-size: 30px;
      color: $white;
      font-weight: 700;
    }
  }
  nav {
    text-align: right;
    @include respond-below(sm) {
      width: 100%;
      text-align: center;
    }
    ul {
      margin-top: 20px;
      @include respond-below(sm) {
        margin: auto 0 10px;
        padding-left: 0;
      }
      li {
        display: inline-flex;
        padding: 10px 15px 0;
        a {
          color: $white;
          text-decoration: none;
          position: relative;
          &:hover,
          &:active {
            color: #000;
            transition: 350ms ease-in-out all;
          }
          span {
            position: absolute;
            right: -6px;
            top: -10px;
            background-color: #fff;
            display: inline-block;
            color: #156862;
            padding: 2px 0 0 0;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            text-align: center;
            font-size: 14px;
          }
        }
        &.cart a {
          padding-right: 20px;
        }
      }
    }
  }
}
/*MAIN CONTENT STYLES*/
.main-content {
  min-height: calc(100vh - 155px);
  padding: 20px;
  h2 {
    font-size: 26px;
    padding: 15px 0;
  }
}
/*FOOTER STYLES*/
footer {
  background-color: #ccc;
  padding: 20px 0 10px;
  a {
    color: $primaryColor;
    &:hover,
    &:active {
      color: #000;
      text-decoration: none;
    }
  }
  p {
    @include respond-below(sm) {
      text-align: center !important;
      width: 100%;
    }
  }
}

/*PRODUCTS LIST*/
.products-list-container {
  &-list {
    border: 1px solid $primaryColor;
    margin-bottom: 15px;
  }
  padding-bottom: 15px;
  img {
    max-width: 100%;
    min-height: 150px;
    object-fit: cover;
    max-height: 150px;
    width: 100%;
    background-color: #ccc;
  }
  h3 {
    color: $primaryColor;
    font-weight: 600;
    padding: 10px 0 0 0;
  }
  h4 {
    color: $primaryColor;
    font-size: $font22;
    padding: 0 0 15px 0;
  }
  .cart-count-wrap {
    clear: both;
    padding: 0 0 10px 0;
    .qty-label {
      display: inline-block;
      padding-right: 10px;
    }
    button {
      display: inline-block;
      max-width: 50px;
      text-align: center;
      padding: 5px 12px !important;
    }
    p {
      min-width: 40px;
      display: inline-block;
      font-size: $font16;
      text-align: center;
      font-weight: 600;
    }
  }
  button {
    border: 1px solid $primaryColor;
    border-radius: 30px;
    padding: 10px 25px;
    background-color: $primaryColor;
    color: $white;
    width: 100%;
    &:hover,
    &:active {
      background-color: $hoverColor;
    }
  }
  &-details {
    padding: 15px;
  }
}
.shopping-cart-wrapper {
  .overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .shopping-cart-container {
    .cart-items-list {
      &-products {
        border: 1px solid $borderColor;
        padding: 15px 15px 10px 15px;
        margin-bottom: 10px;
        h3 {
          font-size: $font16;
          color: $primaryColor;
          display: inline-block;
          padding-left: 20px;
          @include respond-below(sm) {
            padding: 15px 0;
          }
        }
        img {
          max-width: 100px;
          height: 50px;
          width: 100%;
          object-fit: cover;
          display: inline-block;
          @include respond-below(sm) {
            width: 100%;
            max-width: 100%;
            height: 150px;
          }
        }
        p {
          &.text-right {
            text-align: right;
            padding-top: 10px;
          }
        }
        .cart-counts {
          span {
            display: inline-block;
            border: 1px solid #ccc;
            margin: 0 5px;
            padding: 0 10px;
            width: 40px;
            text-align: center;
          }
          button {
            border: 1px solid $primaryColor;
            border-radius: 30px;
            padding: 5px 10px;
            background-color: $primaryColor;
            color: $white;
            width: 100%;
            max-width: 40px;
            &:hover,
            &:active {
              background-color: $hoverColor;
            }
          }
        }
        .delete-container {
          text-align: right;
          button {
            &.btn-default {
              max-width: 80px;
              min-width: 80px;
              margin: 0;
              text-align: center;
              padding: 5px;
            }
          }
        }
      }
      &-pricing,
      &-total {
        padding: 15px 15px 0;
        text-align: right;
        font-weight: 600;
        p {
          font-weight: 600;
          &.text-right {
            text-align: right;
          }
        }
        .row {
          border-bottom: 1px solid #f1f1f1;
          padding-top: 20px;
        }
      }
      &-pricing {
        border: 1px solid $primaryColor;
      }
      &-total {
        background-color: $primaryColor;
        color: $white;
        .row {
          border-bottom: none;
          padding-top: 0;
        }
      }
      &-cart-payment {
        text-align: right;
        button {
          &.btn-default {
            margin-left: auto;
          }
        }
      }
    }
  }
}
.shopping-cart-update-message {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 110px;
  p {
    margin: auto;
    background-color: $primaryColor;
    padding: 10px;
    color: $white;
    text-align: center;
    max-width: 300px;
  }
}
.view-cart,
button {
  text-decoration: none;
  &.btn-default {
    border: 1px solid $primaryColor;
    border-radius: 30px;
    padding: 10px 25px;
    background-color: $primaryColor;
    color: $white;
    min-width: 200px;
    margin: 15px auto;
    &:hover,
    &:active {
      background-color: $hoverColor;
    }
  }
}
.back-to-top {
  a {
    color: $primaryColor;
    font-size: 18px;
    &:hover {
      color: $hoverColor;
    }
  }
}
.loader {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  h2 {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    left: 0;
    right: 0;
  }
}
/*CSS LOADER*/
@keyframes ldio-vej4k2a4k7 {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 84.94000000000001px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    transform: translate(0, 0);
  }
}

.ldio-vej4k2a4k7 div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #156862;
  left: 56.17px;
  top: 13.700000000000001px;
  animation: ldio-vej4k2a4k7 1s linear infinite;
}
.loadingio-spinner-ball-izi5445lev {
  width: 137px;
  height: 137px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-vej4k2a4k7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vej4k2a4k7 div {
  box-sizing: content-box;
}
